#login{
    display: flex;
    flex-direction: row;
}

.username{
    padding-top: 18%;
}

.container{
    position: relative;
}

.login{
    display: flex;
    padding-left: 65%;
    float: right;
}

#logout{
    margin-left: 15%;
}