.corpo{
    background-color: rgb(226, 231, 235);
}

.cadastrar{
    height: 600px;
}

.fade-in-image { 
    animation: fadeIn 1s;
}

.txt {
    position: absolute;
    animation: fadeIn 5s;
    margin-left: 10%;
    margin-top: 3%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes go-back {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes movimento{
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.cadastre{
    position: absolute;
    animation: go-back 2s;
}

.cadastre img{
    margin-top: 50%;
    margin-left: 55%;
    width: 45%;
}

.foto1{
    animation: movimento 1s;
}

.foto1 img{
    padding-top: 2%;
    animation: fadeIn 1s;
    float: right;
    border-radius: 25px;
    width: 35%;
    height: 35%;
}

.chat1{
    position: absolute;
    animation: movimento 1s;
}

.chat1 img{
    animation: fadeIn 1s;  
    float: right;
    margin-right: 27vw;
    padding-top: 1%;
    width: 20%;
    height: 10%;
}

.chat2{
    position: absolute;
    animation: movimento 1.5s;
}

.chat2 img{
    animation: fadeIn 1s;  
    float: right;
    padding-top: 6.5%;
    margin-right: 27vw;
    width: 20%;
    height: 10%;
}

.chat3{
    position: absolute ;
    animation: movimento 2s;
}

.chat3 img{
    animation: fadeIn 1s;  
    float: right;
    padding-top: 12%;
    margin-right: 27vw;
    width: 20%;
    height: 10%;
}

.card{
    height: 20px;
}

.card img{
    height: 100px;
}

.images{
    width: 30%;
    height: 20%;
}

.footer{
    padding-top: 2%;
}

.rank1 {
    padding-left: 2%;
}


.sobre{
    padding-top: 2%;
    margin-left: 10%;
}

.paragrafo{
    font-size: medium;
    padding-top: 3%;
    margin-left: 10%;
    width: 80vw;
}
